<nav>
  <div>
    <h1><a href="https://github.com/AdelMahjoub/ng-rogue" target="_blank">ng-rogue</a></h1>
    <div [ngStyle]="style">
      <button (click)="onToggleHelp()">
        Help
        <span class="led" [ngClass]="help ? 'led-green' : 'led-red'"></span>
      </button>
      <button (click)="onToggleFog()" *ngIf="gameStatus === 'PLAY'">
        Fog
        <span class="led" [ngClass]="fog ? 'led-green' : 'led-red'"></span>
      </button>
      <button (click)="onToggleSound()">
        Sound
        <span class="led" [ngClass]="soundEnabled ? 'led-green' : 'led-red'"></span>
      </button>
      <button (click)="onToggleHelpMap()" *ngIf="gameStatus === 'PLAY'">
        Dungeon Map
        <span class="led" [ngClass]="dungeonMap ? 'led-green' : 'led-red'"></span>
      </button>
      <button (click)="onToggleCredit()" *ngIf="gameStatus !== 'PLAY'">
        Credits
      </button>
      <button (click)="onExit()" *ngIf="gameStatus == 'PLAY'" style="float: right">
        Exit
      </button>
    </div>
  </div>
</nav>