.stage {
  position: relative;
  background-color: black;
  border: 2px solid goldenrod;
  cursor: crosshair;
  color: goldenrod;
}

#start-screen, #end-screen, #win-screen {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: 'Aldrich';
}

#help {
  position: absolute;
  overflow: scroll;
  font-family: 'Aldrich';
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0.7;
  background-color: white;
  color: black;
  font-size: 14px;
}

