.stage {
  position: relative;
  background-color: black;
  border: 2px solid goldenrod;
  cursor: crosshair;
  color: goldenrod;
}

#start-screen, #end-screen, #win-screen, #credit-screen {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: 'Aldrich';
}

#help {
  position: absolute;
  overflow-y: scroll;
  font-family: 'Aldrich';
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0.7;
  background-color: white;
  color: black;
  font-size: 14px;
}
#help::-webkit-scrollbar {
  width: 6px;
  background-color: black;
} 
#help::-webkit-scrollbar-thumb {
  background-color: darkgoldenrod;
}

a, button {
  color: goldenrod;
  border: none;
  background-color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: gold;
}

button {
  border: 1px solid goldenrod;
  font-size: 10px;
  padding: 10px;
  font-family: 'Audiowide', cursive;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(goldenrod, gold);
  color: black;
}

button:active {
  background: linear-gradient( gold, goldenrod);
}