.tile {
  position: absolute;
}
.null {
  background-color: black;
}

.wall {
  background: url('../../../assets/spritesTilesSheet.png') no-repeat 0px -32px;
}

.floor {
  background: url("../../../assets/spritesTilesSheet.png") no-repeat -32px -32px;
}