#inventory {
  border: 2px solid goldenrod;
  border-left: none;
  color: white;
  font-size: 9px;
}

#bag {
  padding: 5px;
  color: goldenrod;
}

.bag-row {
  height: 32px;
}

.bag-row-label {
  margin: 0;
}

#info {
  padding: 5px;
  text-transform: capitalize;
  font-size: 10px;
  color: goldenrod;
}

#combat-log::-webkit-scrollbar {
  width: 6px;
  background-color: black;
} 
#combat-log::-webkit-scrollbar-thumb {
  background-color: darkgoldenrod;
}
